<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" asp-href-include="~/css/*.min.css" />
	<link rel="stylesheet" type="text/css" href="~/css/admin_style.css">
	<title>@ViewBag.Title</title>
	<style>
		.input-validation-error {
			border-color: red;
			background-color: #fee;
		}
	</style>
	<script asp-src-include="~/js/jquery-3.4.1.min.js"></script>
	<script asp-src-include="~/js/jquery.validate.min.js"></script>
	<script asp-src-include="~/js/jquery.validate.unobtrusive.js"></script>
</head>
<body>
	<header>
		<div class="header">
			<ul>
				<li><a asp-action="Index"
   asp-controller="Admin" class="btn menu">Продукты</a></li>
				<li><a asp-action="CategoryList"
   asp-controller="Admin" class="btn menu">Категории</a></li>
			</ul>
			
			
		</div>
	</header>
	<section class="panel panel-default">
		<div class="panel-heading"><h4>@ViewBag.Title</h4></div>
		<div class="panel-body">
			@if (TempData["message"] != null)
			{
				<div class="alert alert-success">@TempData["message"]</div>
			}
			@RenderBody()
		</div>
	</section>
	<script src="~/js/admin.js"></script>
</body>
</html>
