@model Category
@{
	ViewBag.Title = ViewContext.ActionDescriptor.DisplayName + "Category";
	Layout = "_AdminLayout";
}

<form asp-action="EditCategory" method="post">
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<label asp-for="Name"></label>
		<div><span asp-validation-for="Name" class="text-danger"></span></div>
		<input asp-for="Name" class="form-control" />
	</div>	
	<div class="text-center">
		<button class="btn btn-primary" type="submit">Save</button>
		<a asp-action="CategoryList" class="btn btn-default">Cancel</a>
	</div>
</form>
