@model Order

<div class="wrapper">
	<h1>Оформление заказа</h1>
	<p>Пожалуйста, введите ваши данные, и мы отправим ваш товар прямо сейчас!</p><br />
	<div asp-validation-summary="All" class="text-danger"></div>
	<form asp-action="Checkout" method="post">
		<div class="form-group">
			<label>Имя:</label><input asp-for="Name" class="form-control" />
		</div>
		<div class="form-group">
			<label>Улица</label><input asp-for="Line1" class="form-control" />
		</div>
		<div class="form-group">
			<label>Город:</label><input asp-for="City" class="form-control" />
		</div>
		<div class="form-group">
			<label>Индекс:</label><input asp-for="Zip" class="form-control" />
		</div>
		<h3>Комментарий</h3>
		<div class="checkbox">
			<label>
				<input asp-for="GiftWrap" /> 
			</label>
		</div>
		<div class="text-center">
			<input class="btn btn-primary" type="submit" value="Complete Order" />
		</div>
	</form>
</div>
<br/>
